<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理ページ トップ</title>
</head>
<body>
<a href="/admin/managetopics">投稿の管理</a>
<a href="/admin/managefoodmenu">献立表の管理</a>
<a href="/admin/changeadmindata">ユーザー情報の変更</a>
<a href="/admin/signout">サインアウト</a>
</body>
</html>