<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理ページ トップ - 函館高専 春潮寮 Webページ</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin/index.css"/>
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/admin/index.js"></script>
</head>
<body>
<div class="top-title">
    <img src="/images/common/site-logo.png"/>
    <label id="title_label">函館高専 春潮寮 Webページ<br/>管理ページ トップ</label>
</div>
<main>
    <a class="btn btn-primary" href="/admin/managetopics">投稿の管理</a>
    <br/>
    <a class="btn btn-primary" href="/admin/managefoodmenu">献立表の管理</a>
    <br/>
    <a class="btn btn-primary" href="/admin/changeadmindata">ユーザー情報の変更</a>
    <br/>
    <a class="btn btn-primary" href="/admin/signout">サインアウト</a>
</main>
<div id="time_label">
    <label>現在時刻：</label>
    <label id="time_now"></label>
</div>
</body>
</html>