<link type="text/css" rel="stylesheet" href="/stylesheets/admin/common/timelabel.css"/>
<script type="text/javascript" src="/javascripts/admin/common/timelabel.js"></script>
<div id="time_label">
    <label>現在時刻：</label>
    <label id="time_now"></label>
</div>