*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

main {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main a {
    width: 200px;
}

label {
    user-select: none;
}

.top-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 400px;
    height: 75px;
    margin: auto;
    padding: 30px 30px 60px 30px;
}

.top-title img {
    width: 75px;
    height: 75px;
}

#time_label {
    position: fixed;
    right: 0;
    bottom: 0;
}

#title_label {
    text-align: center;
    font-size: 1.7em;
}