<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body>
<main>
    <form action="/admin/signin" name="signin" method="post">
        <h1>サインイン</h1>
        <input type="text" name="username" placeholder="ユーザ名"/>
        <input type="password" name="password" placeholder="パスワード"/>
        <button type="submit">サインイン</button>
    </form>
</main>
</form>
</body>
</html>