<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>記事の新規作成</title>
</head>
<body>
<form action="/admin/managetopics/writenewtopics" name="writenewtopics" method="post" enctype="multipart/form-data">
    <label for="title">記事のタイトル：</label>
    <input type="text" name="title" id="title"/>
    <label for="description">記事の概要：</label>
    <textarea name="description" id="description"></textarea>
    <label for="content">記事の詳細；</label>
    <textarea name="content" id="content"></textarea>
    <label for="imgfiles">記事の画像：</label>
    <input type="file" accept="image/*" name="imgfiles" id="imgfiles" multiple/>
    <button type="submit">記事の登録</button>
</form>
</body>
</html>