@media screen and (min-width: 1300px) {
    main {
        width: 100%;
        height: auto;
    }

    .secretary-title {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 2.5em;
    }

    .title-line {
        display: inline-block;
        width: 5%;
        margin: 50px 10px;
        height: 5px;
    }

    .line1 {
        background: linear-gradient(to right, transparent, #000000);
    }

    .line2 {
        background: linear-gradient(to right, #000000, transparent);
    }

    .secretary-image {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: auto;
        margin: 25px 30% 50px 30%;
    }

    .secretary-content {
        display: block;
        width: 40%;
        height: auto;
        margin: 0 30%;
    }
}