<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザー情報の変更</title>
</head>
<body>
<a href="/admin/changeadmindata/username">ユーザー名の変更</a>
<a href="/admin/changeadmindata/password">パスワードの変更</a>
<a href="/admin">トップへ戻る</a>
</body>
</html>