<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー情報の変更</title>
</head>
<body>
<a href="/admin/changeadmindata/username">ユーザー名の変更</a>
<a href="/admin/changeadmindata/password">パスワードの変更</a>
<a href="/admin">トップへ戻る</a>
</body>
</html>