<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>初期設定</title>
</head>
<body>
<main>
    <h1>登録</h1>
    <form role="form" action="/admin/init" name="init" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <input type="text" name="username" placeholder="ユーザ名"/>
        <input type="password" name="password" placeholder="パスワード"/>
        <button type="submit">登録</button>
    </form>
</main>
</body>
</html>