<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サインイン - 函館高専 春潮寮 Webページ</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin/manageuserinfo/signin.css"/>
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper/popper.min.js"></script>
</head>
<body>
<main>
    <h1>サインイン</h1>
    <% if(message !== ''){ %>
        <p><%= message %></p>
    <% } %>
    <form role="form" action="/admin/signin" name="signin" method="post">
        <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
        <input type="text" name="username" placeholder="ユーザ名"/>
        <input type="password" name="password" placeholder="パスワード"/>
        <button type="submit">サインイン</button>
    </form>
</main>
</form>
</body>
</html>