*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

main {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main a {
    width: 200px;
}

label {
    user-select: none;
}

.top-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 75px;
    margin: auto;
    padding: 30px 30px 60px 30px;
}

.top-title img {
    width: 75px;
    height: 75px;
}

#title_label {
    text-align: center;
    font-size: 1.7em;
}

#greeting_form {
    width: 80%;
}

#greeting_text {
    height: 8em;
}

.greeting_image {
    width: 45%;
    height: auto;
    flex-grow: 1;
    opacity: 0;
}

.centering-image {
    margin: 5px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

#previous_image_view {
    width: 45%;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#previous_image_space {
    display: flex;
    justify-content: center;
    align-items: center;
}

#next_image_view {
    width: 45%;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#next_image_space {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blank_space {
    display: block;
    width: 10%;
}