<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>献立の投稿管理 - 函館高専 春潮寮 Webページ</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin/common/common.css"/>
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper/popper.min.js"></script>
</head>
<body>
<div class="top-title">
    <img src="/images/common/site-logo.png"/>
    <label id="title_label">献立の投稿管理</label>
</div>
<main>
    <a class="btn btn-primary" href="/admin/managecontent/foodmenu/uploadnew">献立のアップロード</a>
    <br/>
    <a class="btn btn-primary"
       href="/admin/managecontent/foodmenu/list/<%= new Date().toFormat('YYYY'); %>">過去の献立の管理</a>
    <br/>
    <a class="btn btn-primary" href="/admin/managecontent">前のページへ戻る</a>
</main>
<%- include('../../common/timeLabel.ejs') %>
</body>
</html>