<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>各役員挨拶の投稿管理 - 函館高専 春潮寮 Webページ</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/admin/common/common.css"/>
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper/popper.min.js"></script>
</head>
<body>
<div class="top-title">
    <img src="/images/common/site-logo.png"/>
    <label id="title_label">各役員挨拶の投稿管理</label>
</div>
<main>
    <a class="btn btn-primary" href="/admin/managecontent/greeting/secretary">寮務主事挨拶の編集</a>
    <br/>
    <a class="btn btn-primary" href="/admin/managecontent/greeting/representative?gender=male">男子寮総代挨拶の編集</a>
    <br/>
    <a class="btn btn-primary" href="/admin/managecontent/greeting/representative?gender=female">女子寮総代挨拶の編集</a>
    <br/>
    <a class="btn btn-primary" href="/admin/managecontent">前のページに戻る</a>
</main>
<%- include('../../common/timeLabel.ejs') %>
</body>
</html>