<link rel="stylesheet" type="text/css" href="/stylesheets/common/footer.css"/>
<footer>
    <div class="footer-content">
        <a href="https://www.hakodate-ct.ac.jp"><img src="/images/common/school-logo.png"/></a>
    </div>
    <div class="copyright-area">
        <label>Copyright(C) National Institute of Technology, Hakodate College All rights reserved.</label>
    </div>
</footer>