<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>寮務主事挨拶</title>
    <meta name="author" content="National Institute of Technology, Hakodate College">
    <meta name="description" content="">
    <meta property="og:title" content="春潮寮の寮務主事挨拶を掲載しております">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://www.hakodate-ct.ac.jp/~w-ryou/about/secretary/">
    <meta property="og:image" content="https://www.hakodate-ct.ac.jp/~w-ryou/images/common/site-logo.png">
    <meta property="og:site_name" content="寮務主事挨拶">
    <meta property="og:description" content="春潮寮の寮務主事挨拶を掲載しています">
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/dormitory/secretary.css"/>
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper/popper.min.js"></script>
    <!--    <script type="text/javascript" src="/javascripts/contact.js"></script>-->
</head>
<body>
<%- include('../common/header') %>
<main>
    <div class="secretary-title">
        <span class="title-line line1"></span>
        <label>寮務主事挨拶</label>
        <span class="title-line line2"></span>
    </div>
    <div class="secretary-image">
        <img src="/images/test_directory/k_sato.jpg"/>
    </div>
    <div class="secretary-content">
        <p class="secretary-text"></p>
    </div>
</main>
<%- include('../common/footer') %>
</body>
</html>