<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>投稿の管理</title>
</head>
<body>
<a href="/admin/managetopics/writenewtopics">投稿の新規作成</a>
<a href="/admin/managetopics/edittopics/<%= new Date().toFormat('YYYY'); %>">過去の投稿の管理</a>
<a href="/admin">トップへ戻る</a>
</body>
</html>