<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>投稿の新規作成</title>
</head>
<body>
<form action="/admin/managetopics/writenewtopics" name="writenewtopics" method="post" enctype="multipart/form-data">
    <label for="title">投稿のタイトル：</label>
    <input type="text" name="title" id="title" required/>
    <label for="description">投稿の概要：</label>
    <textarea name="description" id="description" required></textarea>
    <label for="content">投稿の詳細；</label>
    <textarea name="content" id="content" required></textarea>
    <label for="imgfiles">投稿の画像：</label>
    <input type="file" accept="image/*" name="imgfiles" id="imgfiles" multiple/>
    <button type="submit">投稿の登録</button>
    <a href="/admin/managetopics">前のページへ戻る</a>
</form>
</body>
</html>