<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pagetitle %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/slick/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/topics.css"/>
    <script type="text/javascript" src="/javascripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/popper/popper.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-lazyload/lazyload.min.js"></script>
    <script type="text/javascript" src="/javascripts/slick/slick.min.js"></script>
    <script type="text/javascript" src="/javascripts/topics.js"></script>
</head>
<body>
<%- include('../common/header') %>
<main>
    <ul class="slider">

    </ul>
</main>
<%- include('../common/footer') %>
</body>
</html>